
body {
  background-color: #f6f2f7;
  font-family: sans-serif;
}

input {
  cursor: pointer;
}

#header {
  top: 0;
  left: 0;
  padding: 24px;
  position: fixed;
  background-color: #26334f;
  width: 100%;
  text-align: center;
  z-index: 1;
}

#header a {
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
  padding: 8px;
}

#update-view-button {
  background-color: #f6f2f7;
  cursor: pointer;
  position: absolute;
  right: 10%;
  top: 20px;
  border: none;
  box-shadow: 4px 2px 2px #5cedbf;
  border-radius: 16px;
  font-weight: bold;
  padding: 16px;
  width: 120px;
}

#camper-survey-submit-button:hover, #update-view-button:hover, #header a:hover, .content .content-block p a:hover {
  color: #5cedbf;
}

.content {
  margin: 96px 0 112px;
}

.content .content-block {
  align-items: center;
  display: flex;
}

.content .content-block:not(:last-child) {
  border-bottom: 1px solid #26334f;
}

.content .content-block p {
  font-size: 18px;
  line-height: 2;
  padding: 0 32px;
}

.content .content-block p a {
  color: #26334f;
  font-weight: 600;
  text-decoration: none;
}

.dir-left {
  flex-direction: row-reverse;
}

.dir-right {
  flex-direction: row;
}

.raspberry-pi-5-img {
  width: 500px;
}

.raspberry-pi-5-img:hover {
  background-color: rgba(55, 73, 113, 0.5);
  border-radius: 16px;
}

#camper-survey {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(55, 73, 113, 0.5);
  border-radius: 16px;
  color: white;
  padding: 16px;
  margin: 16px;
  width: 100%;
}

#camper-survey .title {
  font-size: 26px;
  font-weight: bolder;
  text-decoration: underline;
  margin: 8px;
  line-height: 2;
}

#camper-survey div {
  margin: 16px 0;
}

#camper-survey .color-container {
  width: 100%;
}

#camper-survey .multi-fields {
  display: flex;
  justify-content: space-around;
}

#camper-survey .multi-fields fieldset {
  width: 200px;
}

#camper-survey-submit-button {
  cursor: pointer;
  border: none;
  box-shadow: 4px 2px 2px #5cedbf;
  border-radius: 16px;
  font-weight: bold;
  padding: 16px;
  width: 120px;
}

#footer {
  background-color: #26334f;
  bottom: 0;
  left: 0;
  padding: 16px 0;
  position: fixed;
  text-align: left;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-around;
}

#footer a {
  border: 1px solid transparent;
  border-radius: 16px;
  padding: 4px;
}

#footer a:hover {
  border: 1px solid #5cedbf;
}

#footer a img {
  border-radius: 16px;
}

@media screen and (max-width: 768px) {
  #header {
    padding: 16px 0;
  }

  #header a {
    font-size: 26px;
  }

  #update-view-button {
    display: none;
  }

  .content {
    margin: 96px 0 0;
  }

  .content .content-block p {
    font-size: 14px;
    padding: 0 16px;
  }

  .content .content-block {
    flex-direction: column-reverse !important;
  }

  .raspberry-pi-5-img {
    width: 200px;
  }

  #camper-survey {
    border-radius: 0;
  }

  #camper-survey .color-container {
    width: unset;
  }

  #camper-survey .multi-fields {
    flex-direction: column !important;
    gap: 16px;
  }

  #footer {
    display: none;
  }
}